<a href="https://colab.research.google.com/github/IsagiYoichi640/Understanding-more-about-Data./blob/main/Understanding_more_about_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
from google.colab import files
file=files.upload()

Saving Titanic Dataset.csv to Titanic Dataset (1).csv

In [24]:
import pandas as pd
from sklearn.utils import resample

In [25]:
ds=pd.read_csv("/content/Titanic Dataset.csv")

In [26]:
ds.head()

   PassengerId  Survived  Pclass  ... Cabin  Embarked  Gender
0            1         0       3  ...   NaN         S    male
1            2         1       1  ...   C85         C  female
2            3         1       3  ...   NaN         S  female
3            4         1       1  ...  C123         S  female
4            5         0       3  ...   NaN         S    male

[5 rows x 12 columns]

In [27]:
ds.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          156
Embarked         0
Gender           0
dtype: int64

#Findings
* There are 156 null values in Cabin

In [28]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  195 non-null    int64
 1   Survived     195 non-null    int64
 2   Pclass       195 non-null    int64
 3   Name         195 non-null    object
 4   Age          195 non-null    float64
 5   SibSp        195 non-null    int64
 6   Parch        195 non-null    int64
 7   Ticket       195 non-null    object
 8   Fare         195 non-null    float64
 9   Cabin        39 non-null     object
 10  Embarked     195 non-null    object
 11  Gender       195 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.4+ KB

#Findings
* The dataset has 12 columns 7 numerical columns and 5 descriptive columns.

In [29]:
ds.dropna(inplace=True)

In [30]:
ds.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
Gender         0
dtype: int64

In [38]:
ds["Survived"].value_counts()

Survived
1    21
0    18
Name: count, dtype: int64

#fidnings
* They are imbalanced

In [32]:
print(ds["Age"].describe())

count    39.000000
mean     34.738683
std      16.586932
min       1.000000
25%      24.000000
50%      32.500000
75%      46.500000
max      71.000000
Name: Age, dtype: float64

#Findings
* Outliers present

In [33]:
categorical_columns=['Gender','Embarked','Name','Ticket','Cabin']
ds=pd.get_dummies(data=ds,columns=categorical_columns,drop_first=True)
ds.head()

    PassengerId  Survived  Pclass  ...  Cabin_F33  Cabin_F4  Cabin_G6
1             2         1       1  ...      False     False     False
3             4         1       1  ...      False     False     False
6             7         0       1  ...      False     False     False
10           11         1       3  ...      False     False      True
11           12         1       1  ...      False     False     False

[5 rows x 115 columns]

In [35]:
Q1=ds['Age'].quantile(0.25)
Q3=ds['Age'].quantile(0.75)
IQR=Q3-Q1
ds=ds[~((ds['Age']<(Q1-1.5*IQR))|(ds['Age']>(Q3+1.5*IQR)))]
print(ds['Age'].describe())

count    39.000000
mean     34.738683
std      16.586932
min       1.000000
25%      24.000000
50%      32.500000
75%      46.500000
max      71.000000
Name: Age, dtype: float64

In [41]:
ds['Survived'].value_counts(normalize=True)*100

Survived
1    53.846154
0    46.153846
Name: proportion, dtype: float64